[tool.poetry]
name = "requests-ratelimiter"
version = "0.5.0"
description = "Rate-limiting for the requests library"
authors = ["Jordan Cook"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/JWCook/requests-ratelimiter"
repository = "https://github.com/JWCook/requests-ratelimiter"
documentation = "https://requests-ratelimiter.readthedocs.io"
keywords = ["requests", "rate-limiting", "leaky-bucket"]
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "Typing :: Typed",
]
include = [
    {format="sdist", path="*.md"},
    {format="sdist", path="test"},
]

[tool.poetry.dependencies]
python          = "^3.7"
pyrate-limiter  = "<3.0"
requests        = ">=2.20"

# Documentation dependencies needed for Readthedocs builds
furo                     = {optional=true, version="^2023.3"}
myst-parser              = {optional=true, version=">=1.0"}
sphinx                   = {optional=true, version="^5.2"}
sphinx-autodoc-typehints = {optional=true, version="^1.22"}
sphinx-copybutton        = {optional=true, version=">=0.5"}

[tool.poetry.extras]
docs = ["furo", "myst-parser", "sphinx", "sphinx-autodoc-typehints",
        "sphinx-copybutton", "sphinxcontrib-apidoc"]

[tool.poetry.dev-dependencies]
coverage        = "^7.2"
pre-commit      = "^2.21"
pytest          = "^7.2"
pytest-cov      = ">=4.0"
pytest-xdist    = ">=3.1"
requests-mock   = ">=1.11"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 100
skip-string-normalization = true

[tool.coverage.run]
branch = true
source = ['requests_ratelimiter']

[tool.coverage.html]
directory = 'test-reports'

[tool.coverage.xml]
output = 'test-reports/coverage.xml'

[tool.isort]
profile = 'black'
line_length = 100
skip_gitignore = true
known_first_party = ['tests']

[tool.mypy]
ignore_missing_imports = true

[tool.ruff]
output-format = 'grouped'
line-length = 110
select = ['B', 'C4','C90', 'E', 'F']
